
.app{
  /* font-family: 'Almarai', sans-serif; */
  te
  font-family: 'Lemonada', cursive;
  font-size: 10px;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
