@font-face{
  font-family: 'myfont';
  src: url('../fonts/googlef.ttf');
}
.app{
  font-family: 'myfont' ;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
