body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(219, 215, 215) !important;
  /* background-color:rgb(245,249,252) !important; */
}

.cart-p{
  background-color: #fff !important
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer{
  background-color: rgb(12, 12, 48);
  margin-top: 60px;
}

footer .register{
  background-color: rgb(3, 3, 26);
}
footer .buttons .fa-facebook-f{
  background-color: blue;
  padding: 20px;
  border-radius: 500px;
}
footer .buttons .fa-twitter{
  background-color: blue;
  padding: 20px;
  border-radius: 500px;
}
footer .buttons .fa-google-plus{
  background-color: blue;
  padding: 20px;
  border-radius: 500px;
}
footer .buttons .fa-facebook-f{
  background-color: blue;
  padding: 20px;
  border-radius: 500px;
}

footer .down{
  background-color: rgb(4, 4, 12);
}